* {
  /* adds border and padding to the inside rather to the outside of div*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: sans-serif;

  /* prevents cursor from selecting unwanted elements within the dom */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  margin: 0;
}

#toolbar {
  width: 100%;
  height: 50px;
  padding: 10px;
  /* position and fixed puts the toolbar ontop of canvas*/
  position: fixed;
  top: 0;
  background-color: grey;
  color: white;
}

.radiuscontrol {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  padding: 5px;

}
#rad {
  float: left;
}
#excontrols {
  float: right;
}

#clear {
  color: black;
}
